<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wjhgw"
    android:versionCode="20160520"
    android:versionName="3.0.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.mount_unmount_filesystems" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="wxd930ea5d5a258f4f" />
        </intent-filter>

        <activity
            android:name="com.wjhgw.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wjhgw.guide.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wjhgw.ui.activity.A0_LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PrductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LimitDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.A1_RegisterActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.A1_RegisterActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.A2_ResetPassActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.A2_ResetPassActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.C1_CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.C2_SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.C3_GoodsArraySearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.C4_UseServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.F2_StoreGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.J0_SelectGiveObjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.J1_RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.J2_GiveOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.J3_GiveMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.J4_GiveMyselfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.J5_GiftDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.J6_DetailGiveOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.J7_DetailGiveMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayGiveOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VerificationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M0_MyLockBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M1_Modify_nicknameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M3_ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M2_Manage_Address_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M2_AddressDetailActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M4_PaymentPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M5_Change_mobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M6_SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M7_MyCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.M8_MyHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.D0_OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.D1_OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.D2_LogisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.D3_EvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.D6_AfterSaleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.D7_RefundMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.D8_RefundExpressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.S0_ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.S2_InvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.S1_OrderAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.S3_SelectPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Z0_AssetsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Z1_Prepaid_card_balanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShoppingCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.D4_Customer_serviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.D5_CustomerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.GeneralPrductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CabinetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CurrencyWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.F0_Shop_nearbyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.F1_FoundActivity"
            android:screenOrientation="portrait" />

        <!--友盟更新-->
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--友盟更新-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <!--微信支付返回-->
        <activity
            android:name="com.wjhgw.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--微信分享返回-->
        <activity
            android:name="com.wjhgw.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustUnspecified|stateHidden" />
        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- alipay sdk end -->

        //友盟统计
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53ec8af1fd98c5ceef00aa5b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="449c5a599224591bac1f69546bfe6d2a" />

        <service android:name="com.amap.api.location.APSService" />

    </application>

</manifest>
