<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wjhgw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.mount_unmount_filesystems" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-sdk android:minSdkVersion="4"/>

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:scheme="wxd930ea5d5a258f4f"/>
        </intent-filter>

        <activity android:name=".ui.activity.C1_CaptureActivity" />
        <activity android:name=".ui.activity.C2_SearchActivity" />
        <activity android:name=".ui.activity.C3_GoodsArraySearchActivity" />
        <activity android:name=".ui.activity.C4_UseServiceActivity" />
        <activity android:name="com.wjhgw.MainActivity" />
        <activity android:name="com.wjhgw.guide.GuideActivity" />
        <activity android:name="com.wjhgw.ui.activity.A0_LoginActivity"/>
        <activity android:name=".ui.activity.PrductDetailActivity" />
        <activity android:name=".ui.activity.A1_RegisterActivity1" />
        <activity android:name=".ui.activity.A1_RegisterActivity2" />
        <activity android:name=".ui.activity.A2_ResetPassActivity1" />
        <activity android:name=".ui.activity.A2_ResetPassActivity2" />
        <activity android:name=".ui.activity.J0_SelectGiveObjectActivity" />
        <activity android:name=".ui.activity.VerificationCodeActivity" />
        <activity android:name=".ui.activity.M0_MyLockBoxActivity" />
        <activity android:name=".ui.activity.M1_Modify_nicknameActivity" />
        <activity android:name=".ui.activity.M3_ChangePasswordActivity" />
        <activity android:name=".ui.activity.M2_Manage_Address_Activity" />
        <activity android:name=".ui.activity.M2_AddressDetailActvity" />
        <activity android:name=".ui.activity.M4_PaymentPasswordActivity" />
        <activity android:name=".ui.activity.M5_Change_mobileActivity" />
        <activity android:name=".ui.activity.M6_SetActivity"/>
        <activity android:name=".ui.activity.D0_OrderActivity"/>
        <activity android:name=".ui.activity.D1_OrderActivity"/>
        <activity android:name=".ui.activity.D2_LogisticsActivity"/>
        <activity android:name=".ui.activity.S0_ConfirmOrderActivity" />
        <activity android:name=".ui.activity.S1_OrderAddressActivity" />
        <activity android:name=".ui.activity.S3_SelectPaymentActivity" />
        <activity android:name=".ui.activity.MessageCenterActivity" />
        <activity android:name=".ui.activity.D3_EvaluateActivity" />
        <activity android:name=".ui.activity.J1_RecordActivity" />
        <activity android:name=".ui.activity.Z0_AssetsActivity" />
        <activity android:name=".ui.activity.Z1_Prepaid_card_balanceActivity" />

        <activity
            android:name="com.wjhgw.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->

        //友盟统计
        <meta-data android:value="5661310067e58e73d90073d7" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="360 ID" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
